# This pipeline definition is stolen from https://github.com/tauri-apps/tauri-action/blob/dev/examples/publish-to-auto-release.yml and adjusted to our needs.
#

name: "Build and release EDPF"

on:
  push:
    branches:
      - 9-infra-set-up-build-and-release-pipelines # temporary during testing
      - main
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write # required for attestations

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "ubuntu-22.04"
            args: ""
          - platform: "windows-latest"
            args: ""

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "true"
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.4
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04' # This must match the platform value defined above.
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: install frontend dependencies
        run: bun install # change this to npm, pnpm or bun depending on which one you use.
      - name: build frontend dependencies (libs and plugins)
        run: bun run build:plugins # change this to npm, pnpm or bun depending on which one you use.

      - name: Patch EDPF Build Version
        run: bun run ./scripts/determine-and-patch-release-version.ts
      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
        with:
          args: ${{ matrix.args }}
      - name: Upload Tauri bundles
        uses: actions/upload-artifact@v4
        with:
          name: tauri-build
          path: |
            src-tauri/target/release/bundle/
      - name: Generate provenance attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: src-tauri/target/release/bundle/**
